---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Hero from '@/components/Hero.astro';
import About from '@/components/sections/About.astro';
import Timeline from '@/components/sections/Timeline.astro';
import Publications from '@/components/sections/Publications.astro';
---
<BaseLayout>
  <main>
    <Hero />
    <About />
    <Timeline />
    <Publications />
  </main>
</BaseLayout>
