---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Hero from '@/components/Hero.astro';
import About from '@/components/sections/About.astro';
---
<BaseLayout>
  <main>
    <Hero />
    <About />
  </main>
</BaseLayout>
