---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Publications from '@/components/sections/Publications.astro';
---
<BaseLayout title="Publications">
  <main style="padding-top: var(--space-xl)">
    <Publications />
  </main>
</BaseLayout>
